:root{
    --main-bg-color: #351F39;
    --secondary: #726A95;
    --words: #719FB0;
    --details: #A0C1B8;
}

html,*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--words);
    line-height: 1.5;
    height: auto;
    font-weight: bold;
    background-color: var(--main-bg-color);
}

.header{
    border-bottom: 2px solid var(--details);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 1rem;
    width: 50vh;
}

.new{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

button{
    background: var(--secondary);
    border: 2px solid var(--details);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background: hsl(252, 27%, 38%);
    color: var(--words);
}


#form{
    display: none;
    flex-direction: column;
    padding: 20px;
    width: fit-content;
    margin: 0 auto;
    border: 2px solid var(--details);
}

#form input{
    padding: 10px;
    border-radius: 5px;
    border: 2px solid var(--details);
    
}

#form input[type="submit"]{
    background: var(--secondary);
    border: 2px solid rgb(36, 33, 33);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    cursor: pointer;
}
#form label{
    font-size: 20px;
    font-weight: bolder;
}
#form input[type="checkbox"]{
    width: 20px;
    height: 20px;
}

#table{
    justify-content: center;
    align-items: center;
    padding: 20px;
    width: fit-content;
    margin: 5vh auto;
    border: 2px solid var(--details);
    display: none;
}

td, th {
    padding: 10px;
    background: var(--main-bg-color);
    box-sizing: border-box;
    text-align: left;
    border-collapse: collapse;
}